.todo-row {
  margin: 10px;
  border-radius: 5px;
  min-height: 50px;
}

.todo-row:nth-child(3n + 1) {
  background-color: #68a4f1;
}

.todo-row:nth-child(3n + 2) {
  background-color: #2b6ad0;
}

.todo-row:nth-child(3n + 3) {
  background-color: #2b4d91;
}

.todo-row .row {
  width: 100%;
}

.icons-1 {
  padding-right: 4px;
}

.complete {
  text-decoration: line-through;
}

.todo-text {
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 5px 0px 5px 0px;
}
